/* projects section */

#projects {
  display: flex;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  height: 100vh;
}



#projects h2 {
  color: #4fff19;
}

#projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  /* border: 1px solid #bbb */
}

#chasis {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 95%;
  box-shadow:
    5px 0px 5px #4e2d0a inset,
    3px 3px 5px #6f410f inset,
    0px 5px 5px #4e2d0a inset,
    -5px 0px 5px #4e2d0a inset,
    -3px -3px 5px #3a2208 inset,
    0px -5px 5px #4e2d0a inset;
  /* border: 1px solid #4e2d0a; */
  border-radius: 0.8vh;
  background: #5e360c;
}

#screen-container {
  width: 65%;
  height: 95%;
  border-radius: 7vh;
  margin: 1vw;
}

.black-bar {
  width: 100%;
  height: 100%;
  border-radius: 7vh;
  ;
  background: #0f0f0f;
}

#screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #272626;
  box-shadow:
    5px 0px 5px #4e2d0a,
    -5px 0px 5px #4e2d0a,
    0px 5px 5px #4e2d0a,
    0px -5px 5px #4e2d0a;
  border-radius: 7vh;
  background: transparent;
}

#screen-efx {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow:
    5px 5px 10px #474646 inset,
    15px 15px 20px #272626 inset,
    -10px -10px 15px #1a1919 inset,
    -20px -20px 30px #272626 inset;
  border-radius: 7vh;
}

#screen-flare {
  position: absolute;
  top: 0;
  left: 0;
  width: 9%;
  height: 30%;
  box-shadow:
    10px 10px 20px 7px #fff inset,
    -8px -8px 20px 7px #fff;
  background-color: transparent;
  opacity: 3%;
  border-radius: 50%;
  rotate: 30deg;
  margin: 10vh;
}

#image-efx {
  position: absolute;
  width: 99%;
  height: 70%;
  box-shadow:
    0px 5px 4px darkolivegreen,
    0px -5px 4px darkolivegreen;
  border-radius: 1%;
}

#control-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 95%;
  box-shadow:
    5px 0px 5px #4e2d0a,
    -5px 0px 5px #4e2d0a,
    0px 5px 5px #4e2d0a,
    0px -5px 5px #4e2d0a;
  border: 2px solid #272626;
  background-color: #1a1c1d;
  margin: 1vw;
}

#control-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 30%;
  color: #0f0f0f;
  background: #969090;
  box-shadow:
    3px 0px 2px #0f0f0f inset,
    0px 3px 2px #0f0f0f inset,
    -3px 0px 2px #484545 inset,
    0px -3px 2px #484545 inset;
  /* border: 1px solid #bbb; */
  margin: 0.5vw;
}

#selector-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

#selector-label {
  width: 100%;
  height: 15%;
  padding-left: 1vw;
}

#selector-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 80%;
}

#channel-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5%;
  margin: 20px 0 20px 0;
}

#indicator-container {
  width: 98%;
  height: 98%;
  padding: 2px;
  margin: 2px;
}

#indicators {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 25%);
  height: 100%;

}

#power-control-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

#power-label {
  width: 100%;
  height: 15%;
  padding-left: 1vw;
}

#switch-light-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 80%;
}

#power-switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 98%;
}

#power-light-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#power-light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
  height: 3vw;
  box-shadow:
    1px 3px 5px 2px #474646,
    4px 6px 6px 0px #bb8282 inset,
    8px 12px 12px 0px #936060 inset,
    -6px -4px 6px 0px #4d0c0c inset,
    -12px -8px 12px 0px #851414 inset;
  background: #811414;
  border-radius: 50%;
  transition: 2000ms;
  transition-delay: 1000ms
}

#power-light.pwr-on {
  background: #ff2828;
  box-shadow:
    1px 3px 20px 8px #b11c1cd0,
    4px 6px 6px 0px #bb8282 inset,
    8px 12px 12px 0px #936060 inset,
    -6px -4px 6px 0px #851414 inset,
    -12px -8px 12px 12px #851414 inset;
}

#middle-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  border: 2px solid #4d0c0c;
  border-radius: 50%;
}

#inner-ring {
  width: 80%;
  height: 80%;
  border: 2px solid #4d0c0c;
  border-radius: 50%;
}



#text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  color: #4fff19;
  text-shadow:
    5px 0px 5px #0f3005,
    0px 5px 5px #0f3005,
    -5px 0px 5px #0f3005,
    0px -5px 5px #0f3005;
  width: 95%;
  height: 70%;
  background: #969090;
  border: 1px solid #1a1c1d;
  box-shadow:
    3px 0px 2px #0f0f0f inset,
    0px 3px 2px #0f0f0f inset,
    -3px 0px 2px #484545 inset,
    0px -3px 2px #484545 inset;
  margin: 0.5vw;
}

#description-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 40%;
  background: #0f0f0f;
  border: 1px solid #1a1919;
  border-radius: 1vh;
  box-shadow:
    5px 0px 5px #0f3005 inset,
    0px 5px 5px #0f3005 inset,
    -5px 0px 5px #071702 inset,
    0px -5px 5px #071702 inset;
  margin-top: 0.5vw;
}

#title {
  height: 20%;
  text-align: center;
  background: #0f0f0f;
  border-bottom: 1px solid #4fff19;
  border-radius: 1vh 1vh 0 0;
  box-shadow:
    5px 0px 5px #0f3005 inset,
    0px 5px 5px #0f3005 inset,
    -5px 0px 5px #071702 inset,
    0px -5px 5px #071702 inset;
  padding: 1vh;
}

#text {
  height: 80%;
  padding: 1vh;
}

#text p {
  width: 88%
}

#tool-link-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-around;
  height: 60%;
}

.tool-link {
  height: 20%;
  background: #0f0f0f;
  border: 1px solid #1a1919;
  border-radius: 1vh;
  padding-left: 1vh;
  padding-top: 1vh;
  box-shadow:
    5px 0px 5px #0f3005 inset,
    0px 5px 5px #0f3005 inset,
    -5px 0px 5px #071702 inset,
    0px -5px 5px #071702 inset;
}

.tool-link p {
  width: 88%;
}

.tool-link a {
  width: 88%;
  color: #4fff19;
  text-decoration: none;
}

.tool-link a:hover {
  color: #ffc400;
  text-shadow:
    5px 0px 5px #554100,
    0px 5px 5px #554100,
    -5px 0px 5px #554100,
    0px -5px 5px #554100;
}