/* whole page */
* {
  background-color: transparent;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

#window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black 75%, #0f3005, #082d34);
  color: #bbb;
}

a {
  color: #bbb;
}

.solid {
  border-top: 3px solid #bbb;
  border-radius: 100%;
  width: 80%;
  margin: 1vh 0 1vh 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 80%;
}

.section-title {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 10vh;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #ffe21b
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8400
}

/* home section */
#home {
  display: flex;
  align-items: center;
  height: 100vh;
}

#title-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h1 {
  font-family: 'Rum Raisin', sans-serif;
  font-size:20vh;
  margin: 4vh 0 4vh 0;
  background: linear-gradient(180deg, #ff2828 0%, #ff2828 39%,
  transparent 39%, transparent 41%, #ff8400 41%, #ff8400 49%,
  transparent 49%, transparent 51%, #ffe21b 51%, #ffe21b 59%,
  transparent 59%, transparent 61%, #4fff19 61%, #4fff19 69%,
  transparent 69%, transparent 71%, #23ddff 71%, #23ddff 100%);
  background-position: 0% 45%;
  background-size: 100% 70%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;

}
#home h4 {
  font-family: 'Bungee Shade', cursive;
  font-size: 4vw;
  margin: 1vh 0 1vh 0;
  text-transform: uppercase;
  background: linear-gradient(90deg, 
  #ff2828 0%, #ff2828 20%,
  #ff8400 20%, #ff8400 40%,
  #ffe21b 40%, #ffe21b 60%,
  #4fff19 60%, #4fff19 80%,
  #23ddff 80%, #23ddff 100%);
  background-position: 0% 45%;
  background-size: 100% 70%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 1vh 0 1vh 0;
  text-transform: uppercase;
}

#links a {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 6vh;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#links a:hover {
  opacity: 75%;
  color: #ffe21b;
  transition: 0.3s;
}

#links p {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 6vh;
  margin: 0;
  padding: 0;
}

#about-link {
  color: #ff2828;
}

#experience-link {
  color: #ff8400;
}

#projects-link {
  color: #4fff19;
}

#contact-link {
  color: #23ddff;
}

/* about section */
#about {
  display: flex;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  height: 100vh;
}

#about h2 {
  color: #ff2828;
}

#about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio-photo {
  align-items: center;
  width: 80%;
  margin: 1vw;
}


#photo {
  shape-outside: circle(50%);
  float: left;
  border: 2px solid #bbb;
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  padding: 0.5vw;
  margin: 0.5vw;
}

#about-text-container {
  display: inline;
  flex-direction: row;
}

#about-text {
  display: inline;
  font-size: 3.6vh;
}

#about-text article::first-letter {
  initial-letter: 3;
  font-family: "Bungee Shade", cursive;
  font-size: large;
  font-weight: bold;
  color: #ff2828;
  background: #0f3005;
  border: 0.3em double #ffe21b;
  margin: 0 0.5em 0em 1em;
}

/* tech  */

#tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tech-container p {
  font-size: 3.6vh;
  margin: 0.5vh;
}

#tech-container ul {
  font-size: 3vh;
  column-count: 2;
  color: #23ddff;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

#tech-container li {
  margin: 0 1vw 0 1vw;
  width: 10vw;
  text-align: left;
  padding: 0 0 0 0.5vw;
}

#tech-container li:hover {
  color: #ffe21b;
  opacity: 90%;
  transition: 0.3s;
  cursor: url(icons8-rubber-64.png), pointer;
}

#tech-container li::marker {
  content: "◈";
}

/* experience section */
#experience {
  font-family: 'Sansita', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#experience h2 {
  color: #ff8400;
}

#experience-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 70vw;
  height: 70vh;
  position: relative;
}

#side-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

#side-menu a {
  font-size: 1.4vw;
  text-align: right;
  color: #bbb;
  width: 100%;
  border-left: 0.2vw dashed #23ddff;
  box-sizing: border-box;
  cursor: pointer;
  padding: 15% 5% 2% 0;
  margin-right: 5%;
  transition: 0.5s;
}

#side-menu a:hover {
  background: #1a1c1d;
  color: #aff2fe;
  border-left: 0.2vw solid #23ddff;
  transition: 0.5s;
}

#side-menu a.active {
  background: #1a1c1d;
  color: #ffe21b;
}

#experience-text {
  width: 80%;
  height: 100%;
}

.experience-blurbs {
  font-size: 1.6vw;
  margin: 0;
}

.experience-cards {
  display: none;
  box-sizing: border-box;
  height: 100%;
  margin-left: 5%;
  animation: fadeIn 0.5s;
}

.experience-cards h1 {
  font-size: 1vw;
  margin: 0;
  transition: 0.5s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* set default tab to display */
#flatiron {
  display: inherit;
}

.languages {
  color: #ff2828
}

/* projects section */
#projects {
  display: flex;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  height: 100vh;
}

#projects h2 {
  color: #4fff19;
}

#projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 80vh;
  border: 1px solid #bbb
}

.project {
  display: none;
  width: 100%;
  height: 80%;
  border: 1px solid #bbb
}

.project-image-text-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
  border: 1px solid #bbb;
}

.project-image {
  width: 75%;
  height: 75%;
  border: 1px solid #bbb;
  border-radius: 30px;;
}

.project-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 100%;
}

.project-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}

.project-title-container h1 {
  font-size: 9vh;
  color: white;
}

.project-description-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.description {
  font-size: 3vh;
  height: 45%;
}

.project-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  height: 30%;
}

.project-tools ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-count: 1;
  height: 100%;
  list-style-type: none;

}

.project-tools li {
  margin: 0 1vw 0 1vw;
  width: 10vw;
  text-align: left;
  padding: 0 0 0 0.5vw;
}

.project-tools li::marker {
  content: "◈";
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2vh;
  height: 25%;
}

#tadlab {
  display: inherit;
}

/* project navigation */

#project-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.arrow-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 3vw;
  color: #4fff19;
  padding: 3vw;
  height: 3vw;
  margin: 1vw;
}

#projects-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.project-nav-li {
  font-size: 3vh;
  color: #082d34;
  margin: 1vh;
}





/* contact section */

#contact {
  display: flex;
  flex-direction: column;
  font-family: 'Sansita', sans-serif;
  height: 100vh;
}

#contact h2 {
  color: #23ddff
}



